.header {
    color: green;
    text-align: center;
    margin-top: 50px;
}

.instruction {
    text-align: center;
    color: green;
}

.f {
    width: 93px;
    margin: auto;
}

.table_td {
    text-align: center;
    background-color: darkgray;
    color: yellow;
}

.table_s {
    width: 300px;
    margin: auto;
}